<footer class="wrap">
  <div class="left">
    <span>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.
    </span>
   <div class="editable" style="display:inline-block">
     <p>Transparency No<a href="/uploads/Board/Notice to Electors.pdf">...</a>tic<a target="_blank" href="/uploads/Board/Notice to Electors.pdf">...</a>e</p>
   </div>
  </div>
  <div class="right">
    <span>Website by: <a href="https://www.variantstudios.com">Variant Studios</a></span>
  </div>
</footer>
