<footer class="wrap">
  <div class="left">
    <span>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.
    </span>
    Transparency Notices:
    <a href="/assets/pdf/Transparency-Notice-MFPD.pdf" title="Transparency Notice MFPD">MFPD</a>
    <a href="/assets/pdf/Transparency-Notice-JFPD.pdf" title="Transparency Notice MFPD">JFPD</a>
  </div>
  <div class="right">
    <span>Website by: <a href="https://www.variantstudios.com">Variant Studios</a></span>
  </div>
</footer>
